*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}


.container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.row{
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}

.col-4{
    width: 33.3333%;
    padding: 0 15px;
}

.element-item{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;


}
.element-item li{
    list-style: none;
}
.element-img{
    max-width: 170px;

}


.element-desc{
margin-left: 20px;

}

.element-title{
    margin-left: 10px;
    text-align: center;
}
.element-caption{
    text-align: center;
}